In [5]:
#         0        1      2
names=["Arslan","Ahmed",43023]
#        -3       -2     -1
print(names[-1])

43023
['Arslan', 'Ahmed', 43023, 'PIAIC Class 4']

In [16]:
names=[]
newnames=[]

names.append('A')
names.append('B')
names.append('C')
names.append(3)

newnames=names.copy()
print(newnames)

print(names)

names.clear()

print(names)

names=['A','B','C']
names1=names  # Shallow copy

names[0]="Pakistan"

print("names",names)
print("names",names1)

['A', 'B', 'C', 3]
['A', 'B', 'C', 3]
[]
names ['Pakistan', 'B', 'C']
names ['Pakistan', 'B', 'C']

In [17]:
names=['A','B','C']
names1=names.copy() # Deep copy


names[0]="Pakistan"

print("names",names)
print("names",names1)

names ['Pakistan', 'B', 'C']
names ['A', 'B', 'C']

In [20]:
names=["A",'B',"C","A","A"]
print(names.count("A"))

3

In [27]:
l1=[1,2,3]
l2=[4,5,6]

print(l1+l2)  # inline operation

print(l1)
print(l2)

l1.extend(l2)  # inmemory operation

print(l1)
print(l2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]
[4, 5, 6]

In [31]:
l1=["A","B","C","A"]
print(l1.index('B'))
print(l1.index('A'))
print(l1.index('A',1))

1
0
3

In [36]:
l1=[1,3,4,5,6]
l1.insert(1,2)
print(l1)

l1=[]
print(l1)
l1.insert(0,"A")
l1.insert(0,"B")
l1.insert(0,"C")
print(l1)

l1.insert(1,"D")
print(l1)
print(l1[0])

[1, 2, 3, 4, 5, 6]
[]
C
['C', 'D', 'B', 'A']
C

In [44]:
l1=[]
names=["A","B","C","D","C"]
l1.append(names.pop())
print(l1)
l1.append(names.pop())
print(l1)
print(names)

['C']
['C', 'D']
['A', 'B', 'C']

In [47]:
l1=[1,2,3,4]
a=l1.pop(-2)
print(a)

3

In [58]:
l1=["A","B",'C',"d"]
#l1.reverse()
#print(l1)
l1.sort(reverse=True)
print(l1)
a=l1.pop(l1.index("C"))
print(a)

['d', 'C', 'B', 'A']
C

In [52]:
l1=["A","B",'C',"d"]
a=l1.remove("B") # non return
print(l1)

['A', 'C', 'd']

In [4]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [62]:
l1=["a","B","C"]
l1.__add__(["D","E","F"])

['a', 'B', 'C', 'D', 'E', 'F']

In [65]:
l1=["a","B","C"]
l1.__delitem__(1)
print(l1)

['a', 'C']

In [66]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [67]:
l1=('a','b','c','D')
l1[0]

'a'

In [70]:
# LOOP (for,While)
#counter
#logic
#increment/decrement

counter=1000 # Counter

while counter>=990: # Logic
    print(counter)
    counter-=1 # increment/decrement

1000
999
998
997
996
995
994
993
992
991
990

In [71]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
for i in list(range(1,11)):
    print("Pakistan"+ str(i))

SyntaxError: invalid syntax (<ipython-input-74-14ac975ae0f9>, line 1)

In [ ]:

["Pakistan"+ str(i)+ )

In [2]:
user_input=int(input("Enter a number"))
for i in range(user_input+1):
    table=int(input("Enter the no whose table is required"))
    for i in range(1,11):
        print(table ,"*",i,"=",table*i)

Enter a number3
Enter the no whose table is required5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
Enter the no whose table is required8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
Enter the no whose table is required9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
Enter the no whose table is required10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
[str("2") + "*" + str(i) +"="+str(table)*str(i) for i in range(1,11)]

In [8]:
user_input=int(input("Enter a number"))

for t in range(1,user_input+1):
    for n in range(1,11):
        print(f'{t} X {n}= {t*n}')

Enter a number5
1 X 1= 1
1 X 2= 2
1 X 3= 3
1 X 4= 4
1 X 5= 5
1 X 6= 6
1 X 7= 7
1 X 8= 8
1 X 9= 9
1 X 10= 10
2 X 1= 2
2 X 2= 4
2 X 3= 6
2 X 4= 8
2 X 5= 10
2 X 6= 12
2 X 7= 14
2 X 8= 16
2 X 9= 18
2 X 10= 20
3 X 1= 3
3 X 2= 6
3 X 3= 9
3 X 4= 12
3 X 5= 15
3 X 6= 18
3 X 7= 21
3 X 8= 24
3 X 9= 27
3 X 10= 30
4 X 1= 4
4 X 2= 8
4 X 3= 12
4 X 4= 16
4 X 5= 20
4 X 6= 24
4 X 7= 28
4 X 8= 32
4 X 9= 36
4 X 10= 40
5 X 1= 5
5 X 2= 10
5 X 3= 15
5 X 4= 20
5 X 5= 25
5 X 6= 30
5 X 7= 35
5 X 8= 40
5 X 9= 45
5 X 10= 50

In [20]:
user=int(input("Enter a number: "))
for r in range(1,21):
    for t in range(5,user+1):
        print(f'{t}X{r}={r*t}',end='\t')
    print()

Enter a number: 7
5X1=5	6X1=6	7X1=7
5X2=10	6X2=12	7X2=14
5X3=15	6X3=18	7X3=21
5X4=20	6X4=24	7X4=28
5X5=25	6X5=30	7X5=35
5X6=30	6X6=36	7X6=42
5X7=35	6X7=42	7X7=49
5X8=40	6X8=48	7X8=56
5X9=45	6X9=54	7X9=63
5X10=50	6X10=60	7X10=70
5X11=55	6X11=66	7X11=77
5X12=60	6X12=72	7X12=84
5X13=65	6X13=78	7X13=91
5X14=70	6X14=84	7X14=98
5X15=75	6X15=90	7X15=105
5X16=80	6X16=96	7X16=112
5X17=85	6X17=102	7X17=119
5X18=90	6X18=108	7X18=126
5X19=95	6X19=114	7X19=133
5X20=100	6X20=120	7X20=140

In [ ]:
# Dictionary methods and attributes