In [2]:
age=int(input("Enter your age"))
if age>=18:
    print("Allowed to ride")
else:
    print("not alllowed")

Enter your age45
Allowed to ride

In [5]:
5+8 #operation
#Operators
    # + ,- , / , * , % ,**
    # = ,+= ,-= ,/= ,*= , %=
    # == ,< , > , <= , >=
# 5,8 operands

13

In [4]:
#PEMDAS
5+7-8*(2//2)+200
#5+7-8*1+200
#5+7-8+200
#12-8+200
#212-8
#204

204

In [7]:
a=8                        #shallow copy
                            #deep copy
b=8
print(a)
print(b)

print(id(a))
print(id(b))

8
8
140707345638000
140707345638000

In [8]:
c=7 # data types
type(c)

int

In [1]:
int("1") + int('1')

2

In [4]:
names=["arslan","ahmed",'wahab',6]
print(type(names))
print(names)

<class 'list'>
['arslan', 'ahmed', 'wahab', 6]

In [3]:
names=("arslan","ahmed",'wahab',6)
print(type(names))

<class 'tuple'>

In [6]:
names={"arslan","ahmed",'wahab',6}
print(names[0])
print(type(names))

TypeError: 'set' object is not subscriptable

In [9]:
names={"arslan","ahmed",'wahab',6}
name=list(names)
print(name[0])
print(type(name))

arslan
<class 'list'>

In [18]:
data={
    #key : value
    'name':"ARSLAN AHMED",
    'Fname':"Muhammad Aslam",
    5:"pakistan",
    "a":[True,"pak",20,3.0]
    
    
}

print(data[5])
print(data["a"])

pakistan
[True, 'pak', 20, 3.0]

In [19]:
a="ARSLAN AHMED"
dir(a)  # to explore list of datatypes

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [21]:
a="ArsLaN AHmeD"
print(a.upper())
print(a)             # operation perform on two basis 1.Inline
                                                    # 2. inmemory

ARSLAN AHMED
ArsLaN AHmeD

In [22]:
a="ArsLaN AHmeD"
print(a.capitalize())

Arslan ahmed

In [23]:
a="ArsLaN AHmeD"
print(a.title())

Arslan Ahmed

In [31]:
a="      ArsLaN AHmeD          "
print(len(a))
print(len(a.lstrip()))
print(len(a.rstrip()))
print(len(a.strip()))

28
22
18
12

In [32]:
b=a.split() # to break string into list we use split() function
b

['ArsLaN', 'AHmeD']

In [34]:
" ".join(b) # to convert list into string we use join() function

'ArsLaN AHmeD'

In [35]:
a="we are pakistani and we love our country"
print(a[1:])

e are pakistani and we love our country

In [43]:
# list slicing
# list[start:end:step]
# string[start:end:step]

print(a)
print(a[7:15:])
print(a)

we are pakistani and we love our country
pakistan

In [44]:
print(a)
print(a.index("pakistan"))

we are pakistani and we love our country
7

In [46]:
str.isnumeric('5A')

False

In [49]:
a="kajsjl2jlwj3lj-3kljdjljldjklj-3-3-rjkdfjdkl/3jkj"
"".join([i for i in a if str.isnumeric(i)])

'233333'

In [52]:
name="Arslan Ahmed"
fname="Mirza Muhammad Aslam"
program="PIAIC"
score=56
card= """
Bahria University Islamabad
Name: %s
Fathers name: %s
Program: %s 
Score : %d
"""
print(card%(name,fname,program,score))

Bahria University Islamabad
Name: Arslan Ahmed
Fathers name: Mirza Muhammad Aslam
Program: PIAIC
Score : 56

In [55]:
name="Arslan Ahmed"
fname="Mirza Muhammad Aslam"
program="PIAIC"
score=56
card= """
Bahria University Islamabad
Name:{a}
Fathers name:{b}
Program:{c}
Score :{d}
"""
print(card.format(a=name,b=fname,c=program,d=score))

Bahria University Islamabad
Name:Arslan Ahmed
Fathers name:Mirza Muhammad Aslam
Program:PIAIC
Score :56

In [69]:
name="Arslan Ahmed"
fname="Mirza Muhammad Aslam"
program="PIAIC"
score=200

print("Bahria University ISlamabad \nStudent Name: " \
      +name.title()+ "\nFather Name: "+fname + "\nProgram: "+program \
     + "\nScore: "+str(score))

Bahria University ISlamabad
Student Name: Arslan Ahmed
Father Name: Mirza Muhammad Aslam
Program: PIAIC
Score: 200

In [ ]:
#Assignment
#1. All string data type methods'''
#2. 20 operand with differenct methods